<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>customButton.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>367C0E201BD0A77900B62C8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>367C0E341BD0A77900B62C8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>367C0E3F1BD0A77900B62C8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
